.Rproj.user
.Rhistory
.RData
.Ruserdata
packrat/lib*/

/biodiverdata/
/biooracle/
/biooracle_asc/
/catchdata/
/data/
/ECOG-01509/
/figures/
/occurrence_maps/
/rasters/
/sdm_pacific_biooracle/
/sdm_pacific_observed/
/synonym_res/
/thindata_atlantic/
/thindata_pacific/
/XLMSchema/

CONAPESCA_IFAI_2000-2016.xlsx
CONAPESCA_IFAI_Pacifico.xlsx
biodiversity_all_records.csv
CONAPESCA_ocurrencias_reg.csv
pacific_9km.shp
atlantic_species_occurrence.csv
atlantic _CONAPESCA_sp_20reg.csv
atlantic _CONAPESCA_sp_30reg.csv
atlantic _CONAPESCA_sp_20reg_rev.csv
CONAPESCA_ocurrence_target_sp.csv
pacific_species_occurrence.csv
pacific _CONAPESCA_sp_20reg.csv
pacific _CONAPESCA_sp_30reg.csv
pacific _CONAPESCA_sp_20reg_rev.csv

*.csv
*.png
*.pdf
